@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* ----------------------------------------------------------------- */
/* BASE HTML CSS */
/* ----------------------------------------------------------------- */
html,body {
    margin:0;
    padding:0;
    height: 100%;
}

body {
    background-color: #f9f4e8;
    font-family: 'Lato', sans-serif;;
}

#body_container {
    min-height: calc(100% - 125px); 
    display: flex;
    flex-direction: column;
}

/* NAV BAR */

#nav_bar {
    position: sticky;
    top: 0;
}

#nav_bar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 70px;
    overflow: hidden;
    background-color: #1f3c5c;
}

.nav_list_item_right {
    display: inline;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    float: right;
}

.float_right{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height: 75px;
    text-decoration: none;
    padding-right: 20px;
}
#logo_left a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    height: 75px;
    text-decoration: none;
    padding-right: 20px;
}

.float_right:hover {
    background-color: #1a293b;
}

#img_logo {
    height: 75px;
    padding-left: 5px;
    align-items: center;
}
.float_left{
    float: left;
    display: inline;
    font-size: 35px;
    text-align: center;
    justify-content: center;
}

/* FOOTER */

footer {
    background-color: #333;
    height: 125px;
    margin-top: auto;
    position: absolute;
    width: 100%;
}

.footer_text {
    flex: 1;
    color: white;
    text-align: center;
    font-size: 20px;
}

#footer {
    display: flex;
    flex-direction: row;
}

#footer_container a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    height: 35px;
    text-decoration: none;
    padding-right: 20px;
    font-size: 24px;
}

/* ----------------------------------------------------------------- */
/* INDEX HTML CSS */
/* ----------------------------------------------------------------- */

.description-container {
    background-color: bisque;
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    height: 400px;
}

#bottom-description-container {
    margin-top: 0px;
}

.description {
    background-color: #173a5f;
    flex: 1;
    max-width: 100%;
}
.description-text {
    display: flex;
    align-items: center;
    background-color: #f9f4e8;
    margin: 20px; 
    height: 240px;
    padding: 15px;
    border-radius: 25px;
    font-size: 25px;
}

.description-button a{
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    margin: 0px 300px;
    height: 35px;
    text-decoration: none;
    padding-right: 20px;
    font-size: 24px;
    border: whitesmoke solid 2px;
    border-radius: 200px;
}

.description-button a:hover {
    background-color: #1a293b;
}

.description-img-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-img-container {
    flex: 1;
}

/* ----------------------------------------------------------------- */
/* LOGIN HTML CSS */
/* ----------------------------------------------------------------- */

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    min-width: 300px;
    margin: auto;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-submit {
    margin-top: 10px;
    margin-bottom: 20px;
  }

#login-remember-me {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.login-input {
    margin-top: 10px;
}

/* ----------------------------------------------------------------- */
/* SIGNUP HTML CSS */
/* ----------------------------------------------------------------- */

#signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    min-width: 300px;
    margin: auto;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-submit {
    margin-top: 10px;
    margin-bottom: 20px;
  }

#signup-browse{
    display: flex;
    margin-top: 10px;
    align-items: center;
    width: 65px;
}

/* ----------------------------------------------------------------- */
/* PROFILE HTML CSS */
/* ----------------------------------------------------------------- */

#profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin: auto;
}

#avatar-img {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.reset-button button {
    font-size: 15px;
}

/* ----------------------------------------------------------------- */
/* DASHBOARD HTML CSS */
/* ----------------------------------------------------------------- */
.dash-head-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 25px;
    margin-right: 25px;
}

.head-line {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1.5px black solid;
}

.dashboard-tools {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: auto;
}

.dashboard-button button {
    font-size: 20px;
}

.dashboard-button {
    margin-left: 2px;
    margin-right: 5px;
}
.dashboard-left-button button {
    font-size: 20px;
}
.dashboard-left-button {
    margin-left: 10px;
    margin-right: 5px;
}

.dashboard-group-container {
    margin-right: 25px;
    margin-left: 25px;
    min-width: 700px;
}

#dashboard-bottom-container {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    min-width: 700px;
}

.user_list {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.user_list:hover {
    color: cadetblue;
}

.dashboard-line {
    margin-top: 20px;
    border: 1px solid black;
}

#dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    max-width: 700px;
}

#border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.dashboard-h1 {
    text-align: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

/* ----------------------------------------------------------------- */
/* COMPETENCY CSS */
/* ----------------------------------------------------------------- */

.form-list-container {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 20px;
}

.listed-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 0px;
    margin-top: 15px;
}
.listed-items{
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}

.listed-items:hover {
    color: cadetblue;
}

.single-button button {
    font-size: 25px;
    margin-right: 5px;
}

.single-head-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 25px;
    margin-right: 25px;
}

.single-grouped-container {
    margin-right: 25px;
    margin-left: 25px;
    min-width: 1500px;
}

/* #dashboard-bottom-container {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    min-width: 700px;
} */

.single-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    max-width: 1500px;
}

#single-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.competency-div {
    margin-left: 20px;
}

.competency-div p{
    font-size: 20px;
    font-weight: bold;
}

#list-element {
    margin-top: 10px;
}

#division-line {
    margin-right: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1.5px black solid;
}

#list-form {
    display:flex;
}

#search-form {
    display: flex;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
}

#search-list-container {
    font-size: 50px;
}

#search-list-container input{
    height: 75px;
    width: 600px;
    text-align: center;
    font-size: 35px;
}

#submit {
    font-size: 42px !important;
    width: 150px !important; 
    margin-left: 20px;
}

.search-list-container {
    margin: 25px;
    font-size: 15px;
}

.match-h1 {
    text-align: center;
    color: #1f3c5c;
}

.matched-div{
    margin-left: 250px;
    margin-right: 250px;
}

.matched-div p{
    font-size: 20px;
    font-weight: bold;
}

.flash {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
}