{% extends 'base.html' %}
{% block title %}Add User{% endblock %}
{% block content %}
<div class="form-list-container">
    <h1>Add User</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.email.label}} {{ form.email() }}
        {{ form.password.label}}{{ form.password() }}
        {{ form.name.label}}{{ form.name() }}
        {{ form.avatar.label}}{{ form.avatar() }}
        <input type="submit" />
    </form>
</div>
{% endblock %}