<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    {% block script %}{% endblock %}
    <title>{% block title %}Base{% endblock %}</title>
</head>
<body>
    <a id="top"></a>
    <div id="body_container">
        <nav id="nav_bar">
            <ul id="nav_bar_list">
                <li class="float_left"><img id="img_logo" src="{{url_for('static', filename='images/CompetencyCloudLogo.png')}}"></li>
                <li id= "logo_left" class="float_left"><a href="{{url_for('home.index')}}">Competency Cloud</a></li>
                {% if not current_user.is_authenticated%}
                    <li class="nav_list_item_right"><a class="float_right" href="{{url_for('auth.signup')}}">Sign Up</a></li>
                    <li class="nav_list_item_right"><a class="float_right" href="{{url_for('auth.login')}}">Login</a></li>
                {% elif current_user.is_authenticated %}
                    <li class="nav_list_item_right"><a class="float_right" href="{{url_for('auth.logout')}}">Logout</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="nav_list_item_right" ><a class="float_right" href="{{url_for('profile.get_profile', email=current_user.email)}}">Profile</a></li>
                    {% if current_user.group_name == 'admin' %}
                        <li class="nav_list_item_right" ><a class="float_right" href="{{url_for('dashboard.admin_dashboard')}}">Dashboard</a></li>
                    {% elif current_user.group_name == 'admin_user' %}
                        <li class="nav_list_item_right" ><a class="float_right" href="{{url_for('dashboard.admin_user_dashboard')}}">Dashboard</a></li>
                    {% elif current_user.group_name == 'member' %}
                    <li class="nav_list_item_right" ><a class="float_right" href="{{url_for('dashboard.member_dashboard')}}">Dashboard</a></li>
                    {% endif %}
                {% endif %}
                <li  class="nav_list_item_right" ><a class="float_right" href="{{url_for('home.searchbar')}}">SearchBar</a></li>
            </ul>
        </nav>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}

        {% endblock %}
    </div>
    <footer id="footer_container">
        <div id="back_to_top">
            <a href="#top">Back to top</a>
        </div>
        <div id="footer">
            <p class="footer_text">420 Final Project Competency Cloud</p>
            <p class="footer_text">Yu Hua Yang 2133677</p>
            <p class="footer_text">Marko Litovchenko 2133905</p>
            <p class="footer_text">Oni Picotte 2036356</p>
        </div>
    </footer>
</body>
</html>
