{% extends 'base.html' %}
{% block title %}Block Member{% endblock %}
{% block content %}
<div class="form-list-container">
    <h1>Block Member</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.unblocked_members.label }} {{ form.unblocked_members() }}
        <input type="submit" />
    </form>
</div>
{% endblock %}