{% extends 'base.html' %}
{% block title %}Competency{% endblock %}
{% block content %}
<div id="single-border">
  <div class="single-container">
    <div class="single-grouped-container">
      <div class="single-head-container">
        <h1>Competency</h1>
        <div class="dashboard-tools">
          {% if current_user.is_authenticated %}
            <a class="single-button" href="{{ url_for('competency.modify_competency',id=competency.competency_id) }}">
              <button>Modify</button>
            </a>
            <a class="single-button" href="{{ url_for('competency.delete_competency',id=competency.competency_id) }}">
              <button>Delete</button>
            </a>
          {% endif %}
        </div>
      </div>
      <hr class="head-line">
      <div class="competency-div">
        {% if competency is defined %}
        <h1>{{competency.competency_title}}</h1>
        <h2>Competency ID: {{competency.competency_id}}</h2>
        <h2>Type: {{competency.competency_type}}</h2>
        <p>Achievements: {{competency.competency_achievement}}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="list-element" class="single-container">
    <div class="single-grouped-container">
      <div class="single-head-container">
        <h1>Elements</h1>
        <div class="dashboard-tools">
          {% if current_user.is_authenticated %}
            <a class="single-button" href="{{ url_for('competency_element.add_competency_element',competency_id=competency.competency_id) }}">
              <button>Add</button>
            </a>
            <a class="single-button" href="{{ url_for('competency_element.edit_competency_element',competency_id=competency.competency_id) }}">
              <button>Edit</button>
            </a>
            <a class="single-button" h  ref="{{ url_for('competency_element.delete_competency_element',competency_id=competency.competency_id) }}">
              <button>Delete</button>
            </a >
          {% endif %}
        </div>
      </div>
      <hr class="head-line">
      <div class="competency-div">
        {% for element in elements %}
        <h1>{{element.element_name}}</h1>
        <h2>Element ID: {{element.element_id}}</h2>
        <h2>Order: {{element.element_order}}</h2>
        <p>Criteria: {{element.element_criteria}}</p>
        <hr id="division-line">
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}