{% extends 'base.html' %}
{% block title %}Competency List{% endblock %}
{% block content %}
<div class="form-list-container">
  {% if form %}
    <form method="post">
      {{ form.csrf_token }}
      {{ form.competency_id.label }} {{ form.competency_id() }}
      {{ form.competency_title.label }} {{ form.competency_title() }}
      {{ form.competency_achievement.label }} {{ form.competency_achievement() }}
      {{ form.competency_type.label }} {{ form.competency_type() }}
      <input type="submit"/>
    </form>
  {% endif %}
  <h2>List of Competency</h2>
  {% if competencies is defined %}
    <div class="listed-container">
      {% for competency in competencies %}
        <a class="listed-items" href="{{url_for('competency.get_competency', id=competency.competency_id)}}">{{ competency.competency_title }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}