 {% extends 'base.html' %}
{% block title %}Course{% endblock %}
{% block content %}
<div id="single-border">
  <div class="single-container">
    <div class="single-grouped-container">
      <div class="single-head-container">
        <h1>Course</h1>
        <div class="dashboard-tools">
          {% if current_user.is_authenticated %}
            <a class="single-button" href="{{ url_for('courses.modify_course',id=course.course_id) }}">
              <button>Modify</button>
            </a>
            <a class="single-button" href="{{ url_for('courses.delete_course',id=course.course_id) }}">
              <button>Delete</button>
            </a>
          {% endif %}
        </div>
      </div>
      <hr class="head-line">
      <div class="competency-div">
        {% if course is defined %}
        {% if course is defined %}
        <h1>{{course.course_title}}</h1>
        <h2>Course ID: {{course.course_id}}</h2>
        <h2>Theory Hours: {{course.theory_hours}} Lab Hours: {{course.lab_hours}} Work Hours: {{course.work_hours}}</h2>
        <h2>Domain: {{course.domain.domain}} Term: {{course.term.term_name}}</h2>
        <p>Description: {{course.description}}</p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div id="list-element" class="single-container">
    <div class="single-grouped-container">
      <div class="single-head-container">
        <h1>Elements</h1>
        <div class="dashboard-tools">
          {% if current_user.is_authenticated %}
          <a class="single-button" href="{{ url_for('course_element.add_course_element',course_id=course.course_id) }}">
            <button>Add</button>
          </a>
          <a class="single-button" href="{{ url_for('course_element.edit_course_element',course_id=course.course_id) }}">
            <button>Edit</button>
          </a>
          <a class="single-button" href="{{ url_for('course_element.delete_course_element',course_id=course.course_id) }}">
            <button>Delete</button>
          </a >
          {% endif %}
        </div>
      </div>
      <hr class="head-line">
      <div class="competency-div">
        {% for element in elements %}
        <h1>{{element.element_name}}</h1>
        <h2>Element ID: {{element.element_id}}</h2>
        <h2>Element Hours: {{element.element_hours}}</h2>
        <hr id="division-line">
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}