{% extends 'base.html' %}
{% block title %}Course List{% endblock %}
{% block content %}
<div class="form-list-container">
  {% if form %}
  <div id="list-form">
    <form method="post">
      {{ form.csrf_token }}
      <div>
        {{ form.course_id.label }}{{ form.course_id() }}
        {{ form.course_title.label }}{{ form.course_title() }}
        {{ form.theory_hours.label }}{{ form.theory_hours() }}
        {{ form.lab_hours.label }}{{ form.lab_hours() }}
        {{ form.work_hours.label }}{{ form.work_hours() }}
        {{ form.domain_id.label }}{{ form.domain_id() }}
        {{ form.term_id.label }}{{ form.term_id() }}
      </div>
      <div>
        {{ form.description.label }}{{ form.description() }}
        <input type="submit" />
      </div>
    </form>
  </div>
  {% endif %}
  <h2>List of Course</h2>
  {% if courses is defined %}
    <div class="listed-container">
      {% for course in courses %}
        <a class="listed-items" href="{{ url_for('courses.get_course',id=course.course_id) }}">{{ course.course_title }}</a></li>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}