{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div id="border">
    <div id="dashboard-container">
        <div class="dashboard-group-container">
            <div class="dash-head-container">
                <h1 class="dashboard-h1">Members</h1>
                <div class="dashboard-tools">
                    <a class="dashboard-left-button" href="{{url_for('dashboard.add_member')}}"> 
                        <button>Add</button>
                    </a>
                    <a class="dashboard-button" href="{{url_for('dashboard.remove_member')}}"> 
                        <button>Remove</button>
                    </a>
                    <a class="dashboard-button" href="{{url_for('dashboard.block_member')}}"> 
                        <button>Block</button>
                    </a>
                    <a class="dashboard-button" href="{{url_for('dashboard.unblock_member')}}">  
                        <button>Unblock</button>
                    </a>
                    <a class="dashboard-button" href="{{url_for('dashboard.move_member')}}">
                        <button>Move</button>
                    </a>
                </div>
            </div>
            <hr class="head-line">
            <div class="list-container">
                {% for member in members %}
                    <a class="user_list" href="{{url_for('profile.get_profile', email=member.profile_email )}}">{{member.profile_name}}</a>
                {% endfor%}
            </div>
            <hr class="dashboard-line">
        </div>
        <div class="dashboard-group-container">
            <div class="dash-head-container">
                <h1 class="dashboard-h1">Admin Users</h1>
                <div class="dashboard-tools">
                    <a class="dashboard-left-button" href="{{url_for('dashboard.add_admin_user')}}"> 
                        <button>Add</button>
                    </a>
                    <a class="dashboard-button" href="{{url_for('dashboard.remove_admin_user')}}"> 
                        <button>Remove</button>
                    </a>
                    <a class="dashboard-button" href="{{url_for('dashboard.move_admin_user')}}">
                        <button>Move</button>
                    </a>
                </div>
            </div>
            <hr class="head-line">
            <div class="list-container">
                {% for admin_user in admin_users %}
                        <a class="user_list" href="{{url_for('profile.get_profile', email=admin_user.profile_email )}}">{{admin_user.profile_name}}</a></li>
                    {% endfor%}
            </div>
            <hr class="dashboard-line">  
        </div>
        <div id="dashboard-bottom-container">
            <div class="dash-head-container">
                <h1 class="dashboard-h1">Admins</h1>
                <div class="dashboard-tools">
                    <a class="dashboard-left-button" href="{{url_for('dashboard.add_admin')}}"> 
                        <button>Add</button>
                    </a>
                    <a class="dashboard-button" href="{{url_for('dashboard.remove_admin')}}"> 
                        <button>Remove</button>
                    </a>
                    <a class="dashboard-button" href="{{url_for('dashboard.move_admin')}}">
                        <button>Move</button>
                    </a>
                </div>
            </div>
            <hr class="head-line">
            <div class="list-container">
                {% for admin in admins %}
                    <a class="user_list" href="{{url_for('profile.get_profile', email=admin.profile_email )}}">{{admin.profile_name}}</a></li>
                {% endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}