{% extends 'base.html' %}
{% block title %}Member Dashboard{% endblock %}
{% block content %}
<div id="border">
    <div id="dashboard-container">
        <div id="dashboard-bottom-container">
            <div class="dash-head-container">
                <h1 class="dashboard-h1">Members</h1>
            </div>
            <hr class="head-line">
            <div class="list-container">
                {% for member in members %}
                    <a class="user_list" href="{{url_for('profile.get_profile', email=member.profile_email )}}">{{member.profile_name}}</a>
                {% endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}