{% extends 'base.html' %}
{% block title %}Course List{% endblock %}
{% block content %}
<div id="single-border">
  <div class="single-container">
    <div class="single-grouped-container">
      <div class="single-head-container">
        <h1>Domain</h1>
        <div class="dashboard-tools">
          {% if current_user.is_authenticated %}
            <a class="single-button" href="{{ url_for('domains.modify_domain',id=domain.domain_id) }}">
              <button>Modify</button>
            </a>
            <a class="single-button" href="{{ url_for('domains.delete_domain',id=domain.domain_id) }}">
              <button>Delete</button>
            </a>
          {% endif %}
        </div>
      </div>
      <hr class="head-line">
      <div class="competency-div">
        {% if domain is defined %}
        <h1>{{domain.domain}}</h1>
        <h2>Domain ID: {{domain.domain_id}}</h2>
        <p>Description: {{domain.domain_description}}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}