{% extends 'base.html' %}
{% block title %}Course List{% endblock %}
{% block content %}
<div class="form-list-container">
{% if form %}
  <form method="post">
    {{ form.csrf_token }}
    {{ form.domain.label }}{{ form.domain() }}
    {{ form.description.label }}{{ form.description() }}
    <input type="submit" />
  </form>
{% endif %}
<h2>List of Domain</h2>
{% if domains is defined %}
  <div class="listed-container">
    {% for domain in domains %}
      <a class="listed-items" href="{{ url_for('domains.get_domain',id=domain.domain_id) }}">{{ domain.domain}}</a>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}