{% extends 'base.html' %}
{% block title %}Edit Course Element{% endblock %}
{% block content %}
<div class="form-list-container">
    <h1>Edit Course Element</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.element_id.label }}{{ form.element_id() }}
        {{ form.element_hours.label }}{{ form.element_hours() }}
        <input type="submit"/>
    </form>
</div>
{% endblock %}