{% extends 'base.html' %}
{% block title %}Edit Course{% endblock %}
{% block content %}
<div class="form-list-container">
  <h1>Edit Course</h1>
  {% if form %}
  <form method="post">
    {{ form.csrf_token }}
    {{ form.course_title.label }}{{ form.course_title(value=course.course_title) }}
    {{ form.theory_hours.label }}{{ form.theory_hours(value=course.theory_hours) }}
    {{ form.lab_hours.label }}{{ form.lab_hours(value=course.lab_hours) }}
    {{ form.work_hours.label }}{{ form.work_hours(value=course.work_hours) }}
    {{ form.description.label }}{{ form.description(placeholder=course.description) }}
    {{ form.domain_id.label }}{{ form.domain_id(value=course.domain_id) }}
    {{ form.term_id.label }}{{ form.term_id(value=course.term_id) }}
    <input type="submit" value="Modify Course"/>
  </form>
</div>
{% endif %}
{% endblock %}