{% extends 'base.html' %}
{% block title %}Edit Domain{% endblock %}
{% block content %}
{% if form %}
<div class="form-list-container">
  <h1>Edit Domain</h1>
    <form method="post">
      {{ form.csrf_token }}
      {{ form.domain.label }}{{ form.domain(value=domain.domain) }}
      {{ form.description.label }}{{ form.description() }}
      <input type="submit"/>
    </form>
</div>
{% endif %}
{% endblock %}