{% extends 'base.html' %}
{% block title %}Edit Competency Element{% endblock %}
{% block content %}
<div class="form-list-container">
    <h1>Edit Competency Element</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.element_id.label }}{{ form.element_id() }}
        {{ form.element_name.label }}{{ form.element_name() }}
        {{ form.element_order.label }}{{ form.element_order() }}
        {{ form.element_criteria.label }}{{ form.element_criteria() }}
        <input type="submit"/>
    </form>
</div>
{% endblock %}