{% extends 'base.html' %}
{% block title %}Edit Competency{% endblock %}
{% block content %}
{% if form %}
<div class="form-list-container">
  <h1>Edit Competency</h1>
  <form method="post">
    {{ form.csrf_token }}
    {{ form.competency_title.label }}{{ form.competency_title(value=competency.competency_title) }}
    {{ form.competency_achievement.label }}{{ form.competency_achievement(value=competency.competency_achievement) }}
    {{ form.competency_type.label }}{{ form.competency_type(value=competency.competency_type) }}
    <input type="submit" value="Modify Course"/>
  </form>
  </div>
{% endif %}
{% endblock %}