{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="description-container">
        <div class="description-img-container">
            <img class="description-img-1" src="{{url_for('static', filename='images/first.jpg')}}" alt="ADD PICTURE LATER">
        </div>
        <div class="description">
            <p class="description-text">Competencies are combinations of knowledge, skills and attitudes that students develop and apply for successful learning, living and working. They emphasize aspects of learning that apply within and across all subject areas.</p>
            <p class="description-button"><a href="{{url_for('competency.get_competencies')}}">Competencies</a><p>
        </div>
    </div>
    <div id="bottom-description-container" class="description-container">
        <div class="description">
            <p class="description-text">A course description is a brief summary of the significant learning experiences for a course. Course descriptions appear in individual Course Outlines and in the Program of Studies (POSs) for individual programs.</p>
            <p class="description-button"><a href="{{url_for('courses.get_courses')}}">Courses</a><p>
        </div>
        <div class="description-img-container">
            <img class="description-img-1" src="{{url_for('static', filename='images/third.jpg')}}" alt="ADD PICTURE LATER">
        </div>
    </div>
    <div id="bottom-description-container" class="description-container">
        <div class="description-img-container">
            <img class="description-img-1" src="{{url_for('static', filename='images/second.jpg')}}" alt="ADD PICTURE LATER">
        </div>
        <div class="description">
            <p class="description-text">The domains of learning teach students to think critically by using methods that make the most sense to them. They benefit students by teaching them various ways to approach new ideas and concepts.</p>
            <p class="description-button"><a href="{{url_for('domains.get_domains')}}">Domains</a><p>
        </div>
    </div>
{% endblock %}