{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div id="login-container">
    <h1>Login</h1>
    <form id="login-form" method="post">
        {{ form.csrf_token }}
        {{ form.email.label}} {{ form.email() }}
        {{ form.password.label}}{{ form.password() }}
        <div id="login-remember-me">{{ form.remember_me.label}}{{ form.remember_me() }}</div>
        <input id="login-submit" type="submit" />
    </form>
</div>
{% endblock %}