{% extends 'base.html' %}
{% block title %}Move Admin{% endblock %}
{% block content %}
<h1>Move Admin</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.admins.label}} {{ form.admins() }}
    {{ form.groups.label}}{{ form.groups() }}
    <input type="submit" />
</form>
{% endblock %}