{% extends 'base.html' %}
{% block title %}Move Member{% endblock %}
{% block content %}
<h1>Move Member</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.members.label}} {{ form.members() }}
    {{ form.groups.label}}{{ form.groups() }}
    <input type="submit" />
</form>
{% endblock %}