{% extends 'base.html' %}
{% block title %}Move Admin User{% endblock %}
{% block content %}
<h1>Move Admin User</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.admin_users.label}} {{ form.admin_users() }}
    {{ form.groups.label}}{{ form.groups() }}
    <input type="submit" />
</form>
{% endblock %}