{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div id="profile_container">
    <img id="avatar-img" src="{{url_for('auth.get_avatar', email=user.email)}}"/>
    <h2>{{user.email}}</h2>
    <h2>{{user.name}}</h2>
    <a class="reset-button" href="{{url_for('profile.reset_password')}}">
        <button>Reset Password</button>
    </a>
</div>
{% endblock %}