{% extends 'base.html' %}
{% block title %}Remove User{% endblock %}
{% block content %}
<div class="form-list-container">
    <h1>Remove User</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.users.label}} {{ form.users() }}
        <input type="submit" />
    </form>
</div>
{% endblock %}