{% extends 'base.html' %}
{% block title %}Remove Admin{% endblock %}
{% block content %}
<h1>Remove Admin</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.users.label}} {{ form.users() }}
    <input type="submit" />
</form>
{% endblock %}