{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<h1>Reset Password</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.old_password.label}} {{ form.old_password() }}
    {{ form.new_password.label}}{{ form.new_password() }}
    {{ form.confirm_new_password.label}}{{ form.confirm_new_password() }}
    <input type="submit" />
</form>
{% endblock %}