{% extends 'base.html' %}
{% block title %}SearchBar{% endblock %}
{% block content %}
<div id="search-list-container">
  <form id="search-form" method="post">
    {{ form.csrf_token }}
    {{ form.search_query() }}
    <input id="submit" type="submit" value="Search"/>
  </form>
</div>
{% endblock %}