{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}
{% block content %}
<div class="search-list-container">
  <div class="matched-div">
    <h1>Results for {{ searched_query}}</h1>
    {% if all_course_results %}
      <hr id="division-line">
      <h1 class="match-h1">Course Match</h1>
      <hr id="division-line">
      {% if all_course_results is defined %}
          {% for course_result in all_course_results %}
            <h1>{{course_result.course_title}}</h1>
            <h2>Course ID: {{course_result.course_id}}</h2>
            <h2>Theory Hours: {{course_result.theory_hours}} Lab Hours: {{course_result.lab_hours}} Work Hours: {{course_result.work_hours}}</h2>
            <h2>Domain: {{course_result.domain.domain}} Term: {{course_result.term.term_name}}</h2>
            <p>Description: {{course_result.description}}</p>
            <hr id="division-line">
          {% endfor %}
      {% endif %}
      {% endif %}
    {% if all_competency_results %}
      <h1 class="match-h1">Competency Match</h1>
      <hr id="division-line">
        {% if all_competency_results is defined %}
          {% for competency_result in all_competency_results %}
            <h1>{{competency_result.competency_title}}</h1>
            <h2>Competency ID: {{competency_result.competency_id}}</h2>
            <h2>Type: {{competency_result.competency_type}}</h2>
            <p>Achievements: {{competency_result.competency_achievement}}</p>
            <hr id="division-line">
            {% endfor %}
        {% endif %}
      {% endif %}
    {% if all_element_results %}
      <h1 class="match-h1">Element Match</h1>
      <hr id="division-line">
        {% if all_element_results is defined %}
          {% for element_result in all_element_results %}
            <h1>{{element_result.element_name}}</h1>
            <h2>Element ID: {{element_result.element_id}}</h2>
            <h2>Order: {{element_result.element_order}}</h2>
            <p>Criteria: {{element_result.element_criteria}}</p>
            <hr id="division-line">
          {% endfor %}
        {% endif %}
    {% endif %}
    {% if all_domain_results %}
      <h1 class="match-h1">Domain Match</h1>
      <hr id="division-line">
      {% if all_domain_results is defined %}
          {% for domain_result in all_domain_results %}
          <h1>{{domain_result.domain}}</h1>
          <h2>Domain ID: {{domain_result.domain_id}}</h2>
          <p>Description: {{domain_result.domain_description}}</p>
          {% endfor %}
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}