{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div id="signup-container">
    <h1>Signup</h1>
    <form id="signup-form" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.email.label}} {{ form.email() }}
        {{ form.password.label}}{{ form.password() }}
        {{ form.name.label}}{{ form.name() }}
        {{ form.avatar.label}}<div id="signup-browse">{{ form.avatar() }}</div>
        <input id="signup-submit" type="submit" />
    </form>
</div>
{% endblock %}