{% extends 'base.html' %}
{% block title %}Unblock Member{% endblock %}
{% block content %}
<div class="form-list-container">
    <h1>Unblock Member</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.blocked_members.label}} {{ form.blocked_members() }}
        <input type="submit" />
    </form>
</div>
{% endblock %}